<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mit.lawyered">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
    <activity android:name=".view.activities.Home">

    </activity>
    <activity android:name=".view.activities.LawyerDetails">

    </activity>
    <activity android:name=".view.activities.LawDetails">

    </activity>
    <activity android:name=".view.activities.LocationSpecificRules">

    </activity>
    <activity android:name=".view.activities.SignIn">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
    <activity android:name=".view.activities.TabActivitySignUp">

    </activity>
        <activity android:name=".view.activities.DialogActivity" android:theme="@android:style/Theme.Holo.Dialog"/>
    <service android:name=".controller.service.LocationChangeDetector">

    </service>
    </application>

</manifest>
